<!DOCTYPE html>
<html>
<head>
  <title>Lama</title>
  <%= stylesheet_link_tag    "lama/application", media: "all" %>
  <%= javascript_include_tag "lama/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
